<li><%= message.title %></li>
<% if (user && user.membership_status) { %>
<p><%= message.timestamp %></p>
<p>Author: <%= message.author %></p>
<% } %>
<p><%= message.message %></p>

<% if (user && user.admin) { %>
  <form action="/deleteMessage/<%= message.id %>" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
  </form>
<% } %>
